/* Основные стили */
.search-container {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
}

#search-input {
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    border-radius: 25px;
    border: 2px solid #ddd;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease-in-out;
}

#search-input:focus {
    border-color: #ff5c5c; /* Цвет фокуса */
}

#search-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ff5c5c;
    border: none;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#search-btn i {
    color: white;
    font-size: 18px;
}

#search-btn:hover {
    background-color: #ff4040;
}

/* Стили для подсказок */
.suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-height: 300px;
    overflow-y: auto;
    z-index: 999;
    display: none;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}
