@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
    font-family: 'Fredoka One', sans-serif;
    line-height: 1.8;
    background-color: #f4f0e6;
    color: #4b4b4b;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
}

header {
    font-family: 'Fredoka One', sans-serif;
    background-color: #ffffff;
    color: #333;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #e0e0e0;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header .logo {
    font-family: 'Fredoka One', sans-serif;
    position: absolute;
    top: 30px;
    left: 30px;
}

/* header .logo-text img {
    height: 50px;
} */

header .logo img {
    font-family: 'Fredoka One', sans-serif;
    height: 50px;
    /* filter: drop-shadow(0 0 5px #666); */
}

header h1 {
    font-family: 'Fredoka One', sans-serif;
    margin: 0;
    font-size: 2.5em;
    /* font-family: 'Fredoka One', cursive; */
}

nav ul {
    font-family: 'Fredoka One', sans-serif;
    list-style: none;
    padding: 0;
}

nav ul li {
    font-family: 'Fredoka One', sans-serif;
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    font-family: 'Fredoka One', sans-serif;
    color: #4b4b4b;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}





main {
    font-family: 'Fredoka One', sans-serif;
    padding: 40px;
}

.hero {
    font-family: 'Fredoka One', sans-serif;
    text-align: center;
    background-color: #ebe7de;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); */
}

.hero-content {
    font-family: 'Fredoka One', sans-serif;
    max-width: 600px;
    padding: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
}

.hero-image-container {
    flex: 1;
    max-width: 40%;
    text-align: center;
}

.hero-image {
    max-width: 100%;
    height: auto;
}

.hero-text {
    flex: 1;
    max-width: 90%;
    font-size: 20px;
    text-align: left;
    padding: 10px;
}
button {
    font-family: 'Fredoka One', sans-serif;
    background-color: #ff5c5c;
    color: #fff;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    font-family: 'Fredoka One', sans-serif;
    background-color: #d14b4b;
}

.footer {
    font-family: 'Fredoka One', sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #4b4b4b;
    color: #ffffff;
    width: 100%;
    border-radius: 10px;
    position: relative;
}

.center-footer {
    margin: 0;
    font-family: 'Fredoka One', sans-serif;
    text-align: center;
}

.product-grid {
    font-family: 'Fredoka One', sans-serif;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
}

.product-item {
    font-family: 'Fredoka One', sans-serif;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.product-item:hover {
    font-family: 'Fredoka One', sans-serif;
    transform: scale(1.05);
}

.product-item img {
    font-family: 'Fredoka One', sans-serif;
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
}

.contact-icons {
    font-family: 'Fredoka One', sans-serif;
    margin-top: 20px;
}

.contact-icons img {
    font-family: 'Fredoka One', sans-serif;
    margin: 0 10px;
    height: 35px;
    width: auto;
    filter: drop-shadow(0 0 5px #666);
}

.home-header,
.home-body,
.home-footer {
    display: none;
}


@media (max-width: 800px) {
    .logo {
        display: none;
    }
    .loading-container {
        text-align: center;
        height: auto;
    }
    .loading-gif {
        display: grid;
        place-items: center;
      }
}

@media (min-width: 801px) {
    .loading-container {
        background: #E7DFDD;
        text-align: center;
        padding: 20%;
        z-index: 9999;
    }
    
    .loading-gif {
        max-width: 100%;
        height: auto;
    }
}