<header>
    <div class="logo">
        <img src="img/logo.png" alt="Логотип кота" />
    </div>
    
    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/products">Каталог</a></li>
            <li><a href="/contacts">О нас</a></li>
            <li><a href="/video-obzor">Видео-обзоры</a></li>
        </ul>
    </nav>

    <div class="search-container">
        <input type="text" id="search-input" placeholder="Поиск товаров..." />
        <button id="search-btn">
            <i class="fas fa-search"></i>
        </button>
        <div class="suggestions" id="suggestions"></div>
    </div>
</header>