<header class="header">
        <div class="header-logo">
            <img class="header-logo-image" src="img/cat_logo_2.png" alt="Логотип кота" />
        </div>
    
    <!-- <nav class="header-menu"> -->
        <ul class="header-list">
            <li class="header-link">
                <a class="header-link-text" href="/">Главная</a>
            </li>
            <li class="header-link">
                <a class="header-link-text header-product" href="/product">Товары</a>
            </li>
            <li class="header-link">
                <a class="header-link-text" href="/contacts">О нас</a>
            </li>
            <li class="header-link">
                <a class="header-link-text" href="/video-obzor">Видео-обзоры</a>
            </li>
        </ul>
    </nav>

    <%- include('search'); -%>

</header>