
<form id="search-form" action="/search" method="get">
    <input type="text" id="search-input" name="query" placeholder="Поиск товаров..." value="<%= query || '' %>">
    <button id="search-btn" type="submit">
        <i class="fas fa-search"></i>
    </button>
</form>