<!DOCTYPE html>
<html lang="ru">
<head>
    <%- include('partials/head'); -%>
</head>
<body>
    <%- include('partials/header'); -%>

    <main>
        <section>
            <h2>Свяжитесь с нами</h2>
            <p>Адрес: г. Пермь, ул. Питомцев, д. 10</p>
            <p>Телефон: +7 (123) 456-78-90</p>
            <p>Email: info@prohvostiki.ru</p>
            <div class="contact-icons">
                <img src="img/phone_icon_real.png" alt="Иконка телефона">
                <img src="img/email_icon_real.png" alt="Иконка почты">
            </div>
        </section>
    </main>
    
    <%- include('partials/footer'); -%>
</body>
</html>