<div class="error-container">
    <img src="video/404_cat.gif" alt="Гифка кота, страница не найдена">
    <h1>Ошибка 404</h1>
    <p>
        Возможно вы воспользовались недействительной
        <br>
        ссылкой или страница была удалена
    </p>
    <a href="/">Вернуться на главную</a>
</div>