<div class="loading-container">
    <img src="video/loading.gif" alt="Гифка кота, загрузка">
</div>

<main class="home-body">

    <section class="hero">
        <div class="hero-content">
            <div class="hero-image-container">
                <img src="img/hero_cat.png" alt="Главный герой кот" class="hero-image" />
            </div>
            <div class="hero-text">
                <h2>PROХВОСТ</h2>
                <p>Ваш любимый зоомагазин для счастливой жизни вашего питомца.</p>
                <button onclick="window.location.href='/podrobnee'">Подробнее</button>
            </div>
        </div>
    </section>

    <section class="featured-products">
        <h3>Избранные товары</h3>
        <div class="product-grid">
            <div class="product-item">
                <img src="img/whiskas_real.png" alt="Корм для кошек и собак" />
                <p>Корм для кошек и собак</p>
            </div>
            <div class="product-item">
                <img src="img/frisbee_real.png" alt="Игрушки для питомцев" />
                <p>Игрушки для питомцев</p>
            </div>
            <div class="product-item">
                <img src="img/accessory_real.png" alt="Аксессуары для питомцев" />
                <p>Аксессуары для питомцев</p>
            </div>
            <div class="product-item">
                <img src="img/pet_treats_real.png" alt="Лакомства для домашних питомцев" />
                <p>Лакомства для питомцев</p>
            </div>
        </div>
    </section>
</main>