<main>
    <section>
        <h2>Наши товары</h2>
        <div class="product-grid">
            <div class="product-item">
                <img src="img/whiskas_real.png" alt="Корм для кошек Whiskas" />
                <p>Корм для кошек "Whiskas"</p>
            </div>
            <div class="product-item">
                <img src="img/frisbee_real.png" alt="Игрушка для собак летающая тарелка" />
                <p>Игрушка для собак "Летающая тарелка"</p>
            </div>
            <div class="product-item">
                <img src="img/accessory_real.png" alt="Аксессуары для кошек" />
                <p>Аксессуары для кошек: когтеточки, миски и домики</p>
            </div>
            <div class="product-item">
                <img src="img/pet_treats_real.png" alt="Лакомства для домашних любимцев" />
                <p>Лакомства для домашних питомцев</p>
            </div>
        </div>
    </section>
</main>