@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('styles.css');

.error-container {
    text-align: center;
    padding: 50px;
}
.error-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.error-container h1 {
    font-size: 3em;
    margin-bottom: 20px;
}
.error-container p {
    font-size: 1.5em;
    color: #666;
}
.error-container a {
    display: inline-block;
    margin-top: 30px;
    padding: 15px 30px;
    background-color: #f29559;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}
.error-container a:hover {
    background-color: #e08542;
}