.footer {
    font-family: 'Fredoka One', sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #4b4b4b;
    color: #ffffff;
    width: 100%;
    border-radius: 10px;
    position: relative;
}

.footer-center {
    margin: 0;
    font-family: 'Fredoka One', sans-serif;
    text-align: center;
}


.home-footer {
    display: none;
}