.header {
    font-family: 'Fredoka One', sans-serif;
    background-color: #ffffff;
    color: #333;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #e0e0e0;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-logo {
    font-family: 'Fredoka One', sans-serif;
    position: absolute;
    top: 30px;
    left: 30px;
}

.header-logo-image {
    font-family: 'Fredoka One', sans-serif;
    height: 50px;
    /* filter: drop-shadow(0 0 5px #666); */
}

.header-list {
    font-family: 'Fredoka One', sans-serif;
    list-style: none;
    padding: 0;
}

.header-link {
    font-family: 'Fredoka One', sans-serif;
    display: inline;
    margin: 0 15px;
}

.header-link-text {
    font-family: 'Fredoka One', sans-serif;
    color: #4b4b4b;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

.header-hide {
    display: none;
}