<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Встраивание шрифта</title>
</head>
<body>
  <h1>Код для вставки</h1>
  <textarea readonly rows="6" style="width:100%;">
<link href="/css2?family=<%= font.name %>&display=swap" rel="stylesheet">
</textarea>
</body>
</html>