<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" http-equiv="Content-Type" content="text/html, charset=utf-8">
    <link rel="shortcut icon" href="<%= getVersionedPath('img/favicon.jpg') %>">
    <meta name="yandex-verification" content="0d392b68f349bd52" />

    <link rel="stylesheet" href="<%= getVersionedPath('styles/style.css') %>">
    <title>Home Page</title>
  </head>
  <body>
    <h1><a>Ссылки на мои соцсети</a></h1>
    <h2><a>Переходи по ссылкам и подписывайся на меня</a></h2>

    <!-- window.open('','_blank') -->

    <button class="cybr-btn cybr-tg" onclick="window.open('https://t.me/darkusha_ds','_blank')">
      Telegram<span aria-hidden>_</span>
      <span aria-hidden class="cybr-btn__glitch">Telegram_</span>
      <span aria-hidden class="cybr-btn__tag">R28</span>
    </button>
    
    <button class="cybr-btn cybr-vk" onclick="window.open('https://vk.com/dark_angle','_blank')">
      VK<span aria-hidden>_</span>
      <span aria-hidden class="cybr-btn__glitch">VK_</span>
      <span aria-hidden class="cybr-btn__tag">R20</span>
    </button>
    
    <button class="cybr-btn cybr-inst" onclick="window.open('https://instagram.com/_i_t_m_a_n_','_blank')">
      Instagram<span aria-hidden>_</span>
      <span aria-hidden class="cybr-btn__glitch">Instagram_</span>
      <span aria-hidden class="cybr-btn__tag">R22</span>
    </button>

    <button class="cybr-btn cybr-git" onclick="window.open('https://github.com/darkusha-ds','_blank')">
      GitHub<span aria-hidden>_</span>
      <span aria-hidden class="cybr-btn__glitch">GitHub_</span>
      <span aria-hidden class="cybr-btn__tag">R25</span>
    </button>

    <button class="cybr-btn cybr-ds" onclick=" window.open('https://discordapp.com/users/391682780322594840','_blank')">
      Discord<span aria-hidden>_</span>
      <span aria-hidden class="cybr-btn__glitch">Discord_</span>
      <span aria-hidden class="cybr-btn__tag">R30</span>
    </button>
    
    <!-- <button class="cybr-btn cybr-zen" onclick="window.open('https://zen.ly/dark_angle','_blank')">
      Zenly<span aria-hidden>_</span>
      <span aria-hidden class="cybr-btn__glitch">Zenly_</span>
      <span aria-hidden class="cybr-btn__tag">R75</span>
    </button> -->

    <button class="cybr-btn cybr-proj" onclick="location.href='/projects'">
      My Projects<span aria-hidden>_</span>
      <span aria-hidden class="cybr-btn__glitch">My Projects_</span>
      <span aria-hidden class="cybr-btn__tag">R00</span>
    </button>
  </body>
</html>
