<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" http-equiv="Content-Type" content="text/html, charset=utf-8">
    <link rel="shortcut icon" href="<%= getVersionedPath('img/favicon.jpg') %>">

    <link rel="stylesheet" href="<%= getVersionedPath('styles/style.css') %>">
    <title>My Projects</title>
  </head>
  <body>
    <h1><a>Ссылки на мои проекты</a></h1>
    <!-- <h2><a>Переходи по ссылкам и подписывайся на меня</a></h2> -->
    
    <button class="cybr-btn cybr-back" onclick="javascript:history.back()">
      Back<span aria-hidden>_</span>
      <span aria-hidden class="cybr-btn__glitch">Back_</span>
      <span aria-hidden class="cybr-btn__tag">R99</span>
    </button>
    
    <button class="cybr-btn cybr-ds-bot" onclick="location.href='https://discord.com/oauth2/authorize?client_id=916029403769765919&permissions=8&scope=bot'">
      Discord Bot<span aria-hidden>_</span>
      <span aria-hidden class="cybr-btn__glitch">Discord Bot_</span>
      <span aria-hidden class="cybr-btn__tag">R45</span>
    </button>
  </body>
</html>
